* {
font-family: 'Courier New', Courier, monospace;
}

h1{
    background-color: lightgrey;
}

img{
    height: auto;
    width: 400px;
}

.ingredients-title{
    color: lime;
    background-color: blueviolet;
}

ul{
    background-color: red;
    color: white;
}

.directions-title{
    color: yellow;
    background-color: hotpink;
    text-align: right;
}

ol{
    color: green;
    background-color: coral;
    text-align: right;
}